c++/loadBalancer/build
c++/sqlUtils/build
c++/stockAggregatesStore/build
javascript/node_modules
python/populateDatabase/__pycache__
python/populateDatabase/.env
python/venv
.DS_Store
.ipynb_checkpoints
.vscode
StockData.db